{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <main>
        {% if messages %}
            <div class="msgmessages">
                {% for message in messages %}
                    <div class="alertmsg {% if message.tags %} alertmsg-{{message.tags}} {% else %} alertmsg-def {% endif %} ">
                        <span class="closebtnmsg">&times;</span>  
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% block content %}{% endblock %}
    </main>
</body>
</html>