@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #8a21cf;
    --header-color: #8a21cf;
    --first-color-light: #dfaeff;
    --white-color: #ffffff;
    --body-font: 'Rubik', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--header-color);
    z-index: var(--z-fixed);
    transition: .5s;
    box-shadow: 0px 2px 10px -4px;
    
}

.header_toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 35px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    box-shadow: 0px 2px 10px -4px;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.switch-nav {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: none;
    color: #000 !important;
}

.accordion-body {
    margin: 20px;
    border-left: 3px solid rgb(160, 160, 160);
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover {
    color: var(--white-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.body-pd {
    padding-left: calc(var(--nav-width));
}

.nav .active {
    color: var(--white-color);
}

.nav .active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.height-100 {
    height: 100vh;
}

.btn-success{
    background-color: rgb(134, 223, 0);
    border: none;
}

.btn {
    width: 100px;
    height: 45px;
}

.card {
    border-color: transparent;
    border-radius: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex !important; 
    justify-content: center !important; 
    flex-direction: column !important;
}

.card::after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    content: "";
}

.card:nth-child(1)::after {
    background: linear-gradient(81.67deg, #0e8fff 0%, #1a4da2 100%);
}

.card:nth-child(2)::after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}

.card-cont:nth-child(1) .card::after {
    background: linear-gradient(81.67deg, #f400d3 0%, #ff173e 100%);
}

.card-cont:nth-child(2) .card::after {
    background: linear-gradient(81.67deg, #f4b300 0%, #ff9100 100%);
}

.card-cont:nth-child(3) .card::after {
    background: linear-gradient(81.67deg, #c300f4 0%, #7600e4 100%);
}

.nshow {
    left: 0;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
        padding-top: 20px;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 45px;
        height: 45px;
    }

    .header_img img {
        width: 45px;
        height: 45px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .nshow {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 180px);
    }
}